/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

h2,
h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4rem;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

nav a:hover {
    color: #0077cc;
}

section {
    text-align: center;
    margin-bottom: 30px;
}

.feelings-links,
.needs-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #333;
    background-color: #e6efff;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #cce4ff;
}
