body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image:linear-gradient(#F0A2DE,#F2F087,#F2C687);
}

#gameBoard {
    display: grid;
    grid-gap: 1px;
    background-color: #c5fb9d;
    margin-top: 20px;
}

.tile {
    width: 30px;
    height: 30px;
    background-color: #FFCFA0;
    border: 1px solid #1B0079;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile.revealed {
    background-color: #FFCD11;
}

.tile.flag {
    content: "🚩";
}

.tile.mine::before {
    content: "💣";
    display: none;
}

.tile.mine.revealed::before {
    display: block;
}
