@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#F0A2DE,#F2F087,#F2C687);
}

header {
    position: abdolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

#container {
    width: 450px;
    border-radius: 7px;
    background: #c5fb9d;
}
#game-title{
    font-size: 25px;
    font-weight: 500;
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

#content {
    margin: 25px 20px 35px;
}

#word{
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    letter-spacing:24px;
    margin-right: -24px;
    text-transform: uppercase;
}

#details {
    margin: font-size 18px;
    margin-bottom: 10px;
}
#details p{
    font-size: 18px;
    margin-bottom: 10px;
}
#details p b{
    font-weight: 500;
}

input {
    width: 100%;
    height: 60px;
    outline: none;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    width: calc(100% / 2 - 8px);
}

#refresh-word {
    background: #F0A2DE;
}
#check-word {
    background: #F2C687;
}
 
